theme = "cm"

[editor]
line-number = "relative"
cursorline = true
color-modes = true
gutters = ["diagnostics", "line-numbers", "diff"]
rulers = [120]

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true